html, body {
  //background-color: $notice-colour;
  
}

.exervate-dash {
  height: 100vh;
  padding: 7%;
  
  .exervate-container {
    background-color: $notice-colour;
  }
  
  .container-fluid {
    height: 100%;
  }
  
  .row {
    
  }
}






