[class^="flat-weather-"], [class*="flat-weather-"] {
  display: inline-block;
}

[class^="flat-weather-"]:before, [class*="flat-weather-"]:before,
[class^="flat-weather-"]:after, [class*="flat-weather-"]:after {   
  display: inline-block;
  min-width: 100px;
  min-height: 100px;
}

.flat-weather-sunny:before {
  content: "";
  background: url('images/weather-icons.png') -113px -69px;
  width: 137px;
  height: 137px;
}

.flat-weather-moon-lightning:before {
  content: "";
  background: url('images/weather-icons.png') -113px -538px;
  width: 142px;
  height: 169px;
}

.flat-weather-moon-windy:before {
  content: "";
  background: url('images/weather-icons.png') -399px -815px;
  width: 145px;
  height: 126px;
}