$colour-white: #fff;
$colour-black: #000;

$notice-colour: #f7f7f7;




$colour-dark-grey:#5a666f;
$colour-light-grey:#e6e6e7;

$stuff-light-blue: #4b6cb7;




$border-color: #f3f3f3;


$colour-text: #3a3a3a;
$colour-text-light: #4f4f4f;

$colour-background: #f2f3f4;
$page-background: #f6f6f6;




$om-colour: #7CF3B0;
$om-colour-yay: #57F59C;
$om-colour-fail: #E2F0E8;

$ex-colour:#73CFFF;
$ex-colour-yay: #64CAFF;
$ex-colour-fail: #DEEFF9;
